








{% extends "base.html" %}
{% load static %}

{% block style  %}


{% endblock style%}

{% block content %}


<input class="form-control" list="datalistOptions"  placeholder="Type to search...">


<input class="form-control" list="datalistOptions"  placeholder="Type to search...">


<input class="form-control" list="datalistOptions"  placeholder="Type to search...">
<datalist id="datalistOptions">
  <option value="San Francisco">
  <option value="New York">
  <option value="Seattle">
  <option value="Los Angeles">
  <option value="Chicago">
</datalist>




{% endblock content %}
{% block script %}

{% endblock script %}
