{% extends "base.html" %}
{% load static %}
{% block style %}

<link href="{% static 'users/css/Style.css' %}" rel="stylesheet">
{% endblock style %}
{% block content %}

<div class="card user-add-card">
  <div class="card-header">
    Фойдаланувчи парол ўзгартириш
  </div>


    <form class="card-body" method="post">
        {% for field in form %}

         <div class="mb-3 form-item">
            {{ field.label_tag }}
            {{ field }}
            <div class="form-text">{{ field.help_text }} {{ field.errors }}</div>
         </div>
         {% endfor %}
         {% csrf_token %}
        <button type="submit" class="btn btn-primary">Сақлаш</button>
    </form>
  </div>
</div>



{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'users/js/changePass.js' %}"></script>
{% endblock script %}

